* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #212121;
}

.flex-container{
    width:400px;
    height: 350px;
    background: #5a5a5a;
    border: 3px solid green;
    padding: 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-section{
    border: 3px solid red;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    padding: 22px 17px;
}

.bottom-section{
    border: 3px solid red;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.top-section-item{
    border: 3px solid blue;
    height: 100%;
    width: 30%;
}

.bottom-section-item{
    border: 3px solid blue;
    height: 100%;
    width: 45%;
}